
/* css */
* { box-sizing: border-box;
  font-family: "Myriad Pro", Times, serif;
}

.pic {
  border: 1px solid black;
}

.titleb {
  color: #39439c;
  font-weight: bold;
  font-size: 7em;
}

.titler {
  color: #c7111e;
  font-weight: bold;
  font-size: 7em;
}

.subt {
  color: black;
  font-size: 15px;
  font-size: 2.25em;
}

.header{
  font-size: x-large;
  font-weight: bold;
}

.text {
  color: black;
  font-size: large;
  font-weight: normal;
}

.borderw {
  border-width: 2px !important;
  border-color: black !important;
}
